td {width: 7vh; height: 7vh;}

.atomic_no 	{
        		position: absolute;
            	font-size: 1.2vh;
            	margin-top: -2vh;
            	margin-left: 5vh;
    		}

.symbol		{
        		text-align: center;
        		font-weight: bold;
        		font-size: 2.3vh;
        		margin:auto;
    		}

.name		{
    			position: absolute;
    			font-size: .9vh;
    			margin-top: -.2vh;
    			margin-left: .2vh;
    		}
.mass
    		{
    			position: absolute;
    			font-size: .9vh;
    			margin-top: 1.1vh;
    			margin-left: .2vh;
    		}
